html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191919;
    height: 100vh;
    margin: 2rem;
    height: auto;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 10rem;
}

.logo img {
    width: 20rem;
}

.intro {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro div {
    display: flex;
    justify-content: center;
    margin: 0rem 2rem;
}

.intro h2 {
    font-size: 5.6rem;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    color: #fafafa;
    text-align: center;
}

.intro h2 b {
    background: #4158D0;
    background: linear-gradient(to right, #4158D0 0%, #C850C0 50%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-img img {
    width: 50rem;
}

.intro-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro-2 h3 {
    color: #fafafa;
    font-size: 3.8rem;
    font-family: 'DM Sans', sans-serif;
}

.intro-2 h3 b {
    background: #4158D0;
    background: linear-gradient(to right, #4158D0 0%, #C850C0 50%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-2 div {
    display: flex;
    justify-content: center;
    margin: 0rem 2rem;
}

main {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main .price-card {
    width: 40%;
    height: 25rem;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 3rem 0rem;
    margin-bottom: 2rem;
    font-family: 'DM Sans', sans-serif;
    background-color: #161616;
}

.price-card h4 {
    color: white;
    font-size: 3.4rem;
    margin-bottom: 1rem;
}

.price-card p b {
    font-size: 2.3rem;
    color: whitesmoke;
    font-weight: 300;
}

.price-card p {
    font-size: 5.6rem;
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 1rem;
}

.price-card p i {
    font-size: 1.2rem;
}

.price-card a {
    text-decoration: none;
    color: #191919;
}

.price-card button {
    font-family: 'DM Sans', sans-serif;
    width: 170px;
    height: 45px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

.price-card button:hover {
    background-color: #191919;
    color: #fafafa;
    transition: ease 0.8s;
    cursor: pointer;
    border: 1px solid #fafafa;
}

.intro-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.intro-3 h3 {
    color: #fafafa;
    font-size: 2.8rem;
    font-family: 'DM Sans', sans-serif;
}

.intro-3 div {
    display: flex;
    justify-content: center;
    margin: 4rem 2rem;

}

.cards {
    width: 60%;
}

.cards .card {
    background-color: #161616;
    width: 100%;
    height: 16.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    padding: 2rem 2rem;
}

.card .icon {
    display: inline-block;
}

.card .icon img {
    width: 2rem;
}

.card h5 {
    margin-top: 1rem;
    font-size: 2.6rem;
    font-family: 'DM Sans', sans-serif;
    color: white;
}

.card p {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-family: 'DM Sans', sans-serif;
    color: #808080;
}

.diseño {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.diseño a {
    text-decoration: none;
    color: #161616;
}

.diseño button {
    width: 16rem;
    height: 6rem;
    border-radius: 10px;
    border: none;
    background-color: #fafafa;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 5rem;
    margin-top: 4rem;
    background-color: #161616c4;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p {
    font-family: 'DM Sans', sans-serif;
    color: #808080;
    font-size: 1.1rem;
}

.footer-logo img {
    width: 10rem;
}

@media only screen and (max-width: 600px) {
    
    body {
        background-color: #191919;
        height: 100vh;
        margin: 2rem;
        /* border: 1px solid blue; */
        height: auto;
    }

    header {
        display: flex;
        align-items: center;
        height: 10rem;
        justify-content: center;
    }

    .logo img {
        width: 20rem;
    }

    .intro {
        margin-top: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .intro div {
        display: flex;
        justify-content: center;
        margin: 0rem 2rem;
    }

    .intro h2 {
        font-size: 2.6rem;
        font-weight: bold;
        font-family: 'DM Sans', sans-serif;
        color: #fafafa;
        text-align: center;
    }

    .intro h2 b {
        background: #4158D0;
        background: linear-gradient(to right, #4158D0 0%, #C850C0 50%, #FFCC70 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .main-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-img img {
        width: 30rem;
    }

    .intro-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .intro-2 h3 {
        color: #fafafa;
        font-size: 1.8rem;
        font-family: 'DM Sans', sans-serif;
    }

    .intro-2 h3 b {
        background: #4158D0;
        background: linear-gradient(to right, #4158D0 0%, #C850C0 50%, #FFCC70 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .intro-2 div {
        display: flex;
        justify-content: center;
        margin: 0rem 2rem;
    }

    main {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    main .price-card {
        width: 70%;
        height: 21rem;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 3rem 0rem;
        margin-bottom: 2rem;
        font-family: 'DM Sans', sans-serif;
        background-color: #161616;
    }

    .price-card h4 {
        color: white;
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .price-card p b {
        font-size: 1.7rem;
        color: whitesmoke;
        font-weight: 300;
    }

    .price-card p {
        font-size: 5.6rem;
        color: #fafafa;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .price-card p i {
        font-size: 1.2rem;
    }

    .price-card a {
        text-decoration: none;
        color: #191919;
    }

    .price-card button {
        font-family: 'DM Sans', sans-serif;
        width: 140px;
        height: 45px;
        border: none;
        border-radius: 6px;
        font-weight: bold;
    }

    .intro-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;
    }

    .intro-3 h3 {
        color: #fafafa;
        font-size: 1.8rem;
        font-family: 'DM Sans', sans-serif;
    }

    .intro-3 div {
        display: flex;
        justify-content: center;
        margin: 0rem 2rem;
    }

    .cards {
        width: 90%;
    }

    .cards .card {
        background-color: #161616;
        width: 100%;
        height: 16.5rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        padding: 2rem 2rem;
    }

    .card .icon {
        display: inline-block;
    }

    .card .icon img {
        width: 2rem;
    }

    .card h5 {
        margin-top: 1rem;
        font-size: 1.6rem;
        font-family: 'DM Sans', sans-serif;
        color: white;
    }

    .card p {
        margin-top: 1rem;
        font-size: 1.4rem;
        font-family: 'DM Sans', sans-serif;
        color: #808080;
    }

    .diseño {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .diseño a {
        text-decoration: none;
        color: #161616;
    }

    .diseño button {
        width: 16rem;
        height: 6rem;
        border-radius: 10px;
        border: none;
        background-color: #fafafa;
        font-family: 'DM Sans', sans-serif;
        font-size: 1.6rem;
        font-weight: bold;
    }

    footer {
        width: 100%;
        height: 5rem;
        margin-top: 4rem;
        background-color: #161616c4;
        border-radius: 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    footer p {
        font-family: 'DM Sans', sans-serif;
        color: #808080;
        font-size: 1.1rem;
    }

    .footer-logo img {
        width: 10rem;
    }
    
}

